@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}

/* font */

.fw-bold{
        font-family: "IRANYekan-Bold";
}
.opacity-100{
    opacity: 100%;
}
/* top */
.top-auto{
    top: auto;
}
/* bottom */
.bottom-15{
    bottom: 15px;
}
/* border */

.border-gray{
    border: 1px solid #e0e0e2;
}
.border-gray2{
    border: 1px solid #c0c2c5;
}
/* background */
.bg-red{
    background-color: #e82c2b;
}
.bg-gradient-1{
    background-image: linear-gradient(180deg, #6B0004 26%, #ED1B24 100%);
}
/* max width */

.max-w-400{
    max-width: 400px;
    width: 100%;
}

/* padding */

.p-20{
    padding: 20px;
}
/* margin */
.m-20{
    margin: 20px;
}
.mt-32{
    margin-top: 32px;
}
/* rounded */

.rounded-8{
    border-radius: 8px;
}
/* width */

.w-101{
    width: 101px;
}

/* height */

.h-48{
    height: 48px;
}
.h-55{
    height: 55px;
}
.h-100vh{
    height: 100vh;
}
.h-482{
    height: 482px;
}
/* z index */
.z-1{
    z-index: 1;
}
/* font size */

.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
/* global */
.text-justify{
    text-align: justify;
}
.cursor{
    cursor: pointer;
}

.transition{
    transition: all .4s;
}
.outline-none{
    outline: none;
}
.input1:focus{
    border: 1px solid rgb(0, 183, 255);
}
/* carousel */
.carousel-indicators [data-bs-target]{
   background-color: #e82c2b;
   height: 6px;
   border-radius: 11px;
}
.carousel-control-next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
/* hover */

.btnHover:hover{
  animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* responsive */

@media screen and (max-width: 992px) {
    .input1{
        background-color: #f0f0f1;
        border: 2px solid transparent;
    }
    .input1:focus{
    border: none;
    border-bottom: 2px solid rgb(0, 183, 255);
}
}
@media screen and (max-width: 576px) {
   .h-sm-auto{
    height: auto;
   }
   .border-sm-0{
    border: none;
   }
   .shadow-sm-0{
    box-shadow: none !important;
   }
   .position-sm-fixed{
    position: fixed !important;
   }
   .mb-sm-20{
    margin-bottom: 20px;
   }
   .mb-sm-33{
    margin-bottom: 33px;
   }
   .bg-sm-red{
    background-color: #93080e;
    background-image: none;
   }
}