@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}
/* border */

.border-gray{
    border: 1px solid #e0e0e2;
}

/* max width */

.max-w-400{
    max-width: 400px;
    width: 100%;
}

/* padding */

.p-20{
    padding: 20px;
}

/* rounded */

.rounded-8{
    border-radius: 8px;
}

/* width */

.w-101{
    width: 101px;
}